@import url('../../variables.css');


@import url('../../variables.css');

@font-face {
    font-family: 'carmen-sans-md';
    src: url('../public/fonts/CarmenSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'carmen-sans-lg';
    src: url('../public/fonts/CarmenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'carmen-sans-regular';
    src: url('../public/fonts/CarmenSans-Regular.ttf') format('truetype');
}

.presentation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 70px ;
    background-color: var(--primary-color);
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    color: #ffffff;
}

.presentationTextCTA{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30% ;
}


.presentationTextContainer h1{
    padding-right: 20px;
    font-family: 'carmen-sans-md';
}
.presentationCTA{
    padding-top: 100px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 20px;
}

.buttonPresentation {
    background-color: var(--light-color);
    color: var(--primary-color);
    width: 25vw;
    max-width: 300px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    padding: 10px 30px 15px 30px;
    font-size: 2rem;
    font-family: 'carmen-sans-lg', sans-serif;
    opacity: 0; /* Comienza oculto */
    transition:  background-color 0.2s, color 0.2s; 
}
.btnp{
    font-size: clamp(1.5rem , 1.5vw, 2vw);
    font-family: 'carmen-sans-md', sans-serif;
}

.buttonPresentation.isLoaded{ /*para que no ocurra la transicion al estar cargandose la pagina*/
    opacity: 1;
}
.presentationCTA button:hover{
    background-color: var(--secondary-color);
    color: var(--light-color);
}
.ctap {
    font-size: 1rem;
    font-family: 'carmen-sans-lg', sans-serif;
}

.presentationCTA img {
    width: 100px;
    padding-top: 10px;
}

.bienvenida{
    display: inline;
    font-size: clamp(2rem, 3vw, 4vw);
    font-weight: 400;
    font-family: 'carmen-sans-md', sans-serif;
    margin-bottom: 20px;
}

.presentationQuestion{
    font-size: clamp(1rem, 2vw, 3vw);
    font-family: 'carmen-sans-lg', sans-serif;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.presentationDIImage {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* Se asegura de que el contenedor tenga un tamaño adecuado */
}

.presentationDIImage img {
    width: 60%; 
    height: auto; /* Mantiene la altura proporcional a la anchura */
    object-fit: contain; /* Mantiene la relación de aspecto sin distorsionar la imagen */
    min-width: 600px; /* Establece un tamaño mínimo */
    padding: 0 0 30px 0;
}
.presentationDIImageResponsive{
    display: none;
}


@media (max-width: 1024px){
    .presentation{
        flex-direction: column;
        align-items: center;
        padding-left:30px;
    }

    .presentationTextCTA{
        height: 50%;
        max-height: 700px;
        min-height: 500px;
        justify-content: start;
        width: 100%;
        padding: 80px 0 0 0;
    }

    .presentationCTA{
        padding-top: 50px;
        width: 100%;
        gap : 15px;
    }


    .presentationCTA img {
        width: 20%;
        min-width: 60px ;
    }


    .presentationTextContainer{
        width: 100%;
    }
    .presentationDIImage{
        display: none;
    }
    .presentationDIImageResponsive{
        display: flex;
        justify-content: end;
        width: 40%;
        min-width: 150px;
    }
    .presentationDIImageResponsive img{
        width: 100%;
    }
    .presentationCTAImg{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center ;
    }
    .bienvenida{
        font-size: clamp(2rem, 6vw, 7vw);
        font-weight: 400;
        font-family: 'carmen-sans-md', sans-serif;
        margin-bottom: 20px;
    }

    .presentationTextContainer h1{
        padding-right: 20px;
        font-size:clamp(3rem, 7vw, 8vw) ;
        font-family: 'carmen-sans-extraBd', sans-serif;
    }
    .presentationQuestion{
        font-size: clamp(1.5rem, 3vw, 4vw);
        font-family: 'carmen-sans-lg', sans-serif;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }


    /* ----personalizacion boton---- */

    .buttonPresentation.isLoaded{ /*para que no ocurra la transicion al estar cargandose la pagina*/
        opacity: 1;
        width: 50vw;
    }

    .btnp{
        font-size:  clamp(0.5em, 3vw, 5vw);
        font-family: 'carmen-sans-regular', sans-serif;
    }


    .ctap {
        font-size: clamp(0.7em, 2vw, 5vw);    
    }

    .bienvenida{
        font-size: clamp(1.5em, 5vw, 7vw);
    }
}
@media (max-width : 766px) {
    .presentation{
        height: 500px;
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: 70px;
    }
}

@media (max-width : 594px){
    .presentation{
        height: 400px;
        padding-left: 10px;
    }
}

