@import url('../../variables.css');

@font-face {
    font-family: 'carmen-sans-md';
    src: url('../public/fonts/CarmenSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'carmen-sans-lg';
    src: url('../public/fonts/CarmenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'carmen-sans-regular';
    src: url('../public/fonts/CarmenSans-Regular.ttf') format('truetype');
}

.courseContainer{
    height: auto;
    padding: 50px 10px 0 70px;     
    
}

.courseTitle{
    color: var(--primary-color);
    font-size: clamp(25px, 4.5vw, 80px);    
    font-family: 'carmen-sans-regular', sans-serif;
}

.courseTitle img {
    vertical-align: middle;
    width: clamp(200px, 25vw, 370px);
    padding-bottom: 1%;
}

.courseSubTitle{
    color: var(--primary-color);
    font-family: 'carmen-sans-lg', sans-serif;
    font-size: clamp(15px, 2.5vw, 30px);
}
.cardContainer {
    width: 100%;
    display: flex;
    flex-direction: column; /* Predeterminado: las tarjetas en columnas */
    gap: 20px;
    justify-content: center;
    padding: 30px 30px 0 30px;

}

.cardParentOne, .cardParentTwo {
    display: flex;
    gap: 20px;
    flex-direction: row; /* Mostrar las cards en columna por defecto */
    align-items: center;
    justify-content: center;
}


.levelTestContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.levelTestBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.levelTestBtn button{
    background-color: var(--primary-color);
    color: var(--light-color);
    width: 25vw;
    max-width: 300px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    padding: 10px 30px 15px 30px;
    transition:  background-color 0.2s, color 0.2s; 
}

.levelTestBtn button p{
    font-family: 'carmen-sans-regular', sans-serif;
    color: var(--light-color);
    font-size: clamp(12px , 2vw, 30px);
    
}

.levelTestBtn button:hover{
    background-color: var(--secondary-color);
}

.levelTestBtn p{
    text-align: center;
    font-size: clamp(15px, 1.8vw, 20px);
    font-family: 'carmen-sans-lg', sans-serif;
    color: var(--primary-color);
    padding: 5px 5px 0 5px;
}

@media (max-width: 1024px){
    .courseContainer{
        padding : 30px 10px 0 30px;
    }
    .courseTitle img {
        vertical-align: middle;
        width: 150px;
    }    
    .cardContainer {
        flex-direction: row; /* Cuando la pantalla es mayor a 470px, las dos filas se vuelven columnas */
        gap: 15px; /* Espaciado entre las dos "columnas" de tarjetas */
        padding: 10px 30px 0 30px;
    }

    .levelTestContainer {
        padding-top: 30px;
    }

    .cardParentOne, .cardParentTwo {
        flex-direction: column; /* Las tarjetas siguen en columna dentro de cada contenedor */
        gap: 20px;
    }
}
@media (max-width:580px){
    .levelTestBtn button{
        width: 45vw;
        max-width: 180px;
    }
}

@media (max-width: 375px) {
    .cardContainer{
        padding: 30px 0 0 0;
    }
}