@font-face {
  font-family: 'carmen-sans-md';
  src: url('../public/fonts/CarmenSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'carmen-sans-lg';
  src: url('../public/fonts/CarmenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'carmen-sans-regular';
  src: url('../public/fonts/CarmenSans-Regular.ttf') format('truetype');
}

.googleReviewsContainer{
  display: flex;
  align-items: center;  
  justify-content: space-around;
  padding: 10px;
} 

.reviewContainer {
  width: 50%;
  max-width: 500px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 50px;
}

.reviewTextContainer p{
  color: var(--primary-color);
  font-size: clamp(20px, 2.5vw, 50px);
  font-family: 'carmen-sans-md', sans-serif;
}

.reviewsList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  border-radius: 12px;  
  min-height: 242px;
  min-width: 300px;
  background-color: #ffffff2a;
  backdrop-filter: blur(3px); /* Desenfoque para mejorar la transparencia */
  transition: transform 0.3s ease, background-color .5s ease-in;
}
.review:hover{
  transform: translateY(-2px); /* Efecto de elevación */
  background-color: #ffffff8e;
}

.author {
  font-family: 'carmen-sans-regular', sans-serif;
  font-weight: 700;
  color: var(--primary-color);
  font-size: clamp(15px, 1vw, 40px);
}


.rating {
  color: #fffb1e;
}
.review p{
  font-family: 'carmen-sans-lg', sans-serif;
  color: var(--primary-color);
  font-size: clamp(13px, 0.8vw, 30px);
  font-weight: 500;
}
/* Botones de navegación redondos */
/* From Uiverse.io by vinodjangid07 */ 
.navButton1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff2a;
  border: none;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon1 {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon1 path {
  fill: var(--primary-color);
}

.navButton1:hover {
  background-color: #ffffff8e; 
  width: 80px;
  border-radius: 50px;
  transition-duration: 0.3s;
  align-items: center;
}

.navButton1:hover .svgIcon1 {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-300%);
}

.navButton1::before {
  position: absolute;
  bottom: -20px;
  content: "Previous";
  color: var(--primary-color);
  font-family: 'carmen-sans-regular', sans-serif;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.navButton1:hover::before {
  font-size: 12px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}
/* --------------------------- */

.navButton2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff2a;
  border: none;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  rotate: -180deg;
}

.svgIcon2 {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon2 path {
  fill: var(--primary-color);
}

.navButton2:hover {
  background-color: #ffffff8e; 
  width: 80px;
  border-radius: 50px;
  transition-duration: 0.3s;
  align-items: center;
}

.navButton2:hover .svgIcon2 {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.navButton2::before {
  position: absolute;
  bottom: -20px;
  content: "Next";
  rotate: 180deg;
  color: var(--primary-color);
  font-family: 'carmen-sans-regular', sans-serif;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.navButton2:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}

.disabled {
  opacity: 0.5; /* Reduce la opacidad para indicar que está deshabilitado */
  cursor: not-allowed; /* Cambia el cursor para indicar que no se puede hacer clic */
}

.disabled:hover::before {
  display: none; /* Evita que aparezca el texto "Previous" o "Next" */
}

.disabled:hover {
  background-color: rgb(20, 20, 20); /* Mantiene el color sin cambios */
  width: 50px; /* Evita la expansión del botón */
}

.disabled:hover .svgIcon1,
.disabled:hover .svgIcon2 {
  transform: none; /* Evita el movimiento del ícono */
}


.viewMore {
  font-family: 'carmen-sans-regular', sans-serif;
  display: inline-block;
  margin-top: 15px;
  padding: 10px;
  background: #ffffff2a;
  color: var(--primary-color);
  text-decoration: none;
  border-radius: 100px;
  transition: ease-out .3s;
}
.viewMore:hover{
  background: #ffffff8e;
}

@media (max-width: 1024px) {  
  .googleReviewsContainer{
  flex-direction: column;
  align-items:center;  
  justify-content: center;
  padding-top: 10%;
  } 
  .reviewTextContainer p{
  font-size: clamp(25px, 2.5vw, 50px);
  text-align: center;
}
} 

