@font-face {
  font-family: 'carmen-sans-md';
  src: url('../public/fonts/CarmenSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'carmen-sans-lg';
  src: url('../public/fonts/CarmenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'carmen-sans-regular';
  src: url('../public/fonts/CarmenSans-Regular.ttf') format('truetype');
}


.card {
  position: relative;
  width: clamp(100px, 20vw, 500px);
  min-width: 300px;
  height: clamp(150px, 30vh, 500px);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.TitleContainer{
  padding: 20px;
}

.card:hover {
  transform: scale(1.05);
}

.cardContent {
  display: flex;
  align-items: center;
  justify-content: start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .cardContent {
  transform: rotateX(0deg);
}

.cardTitle {
  text-align: center;
  font-size: clamp(17px, 2vw, 30px);
  color: #ffffff;
  font-family: 'carmen-sans-regular', sans-serif;
  font-weight: 500;
}

.cardDetailItem{
    list-style: none;
    font-size: clamp(15px, 1.5vw, 25px);
    font-family: 'carmen-sans-lg', sans-serif;
    color: #ffffff;
}

@media (max-width: 1024px){
  .card {
    min-width: 300px;
    max-height: 200px;
  }
}
@media (max-width: 643px){
  .card {
    min-width: 200px;
    max-height: 150px;
  }
}
@media (max-width: 456px){
  .card {
    min-width: 140px;
    max-height: 140px;
  }
  .cardTitle{
    font-size: 12px;
  }
  .cardDetailItem{
    font-size: 10px;
  }
}