@import url('../../variables.css');

@font-face {
    font-family: 'carmen-sans-md';
    src: url('../fonts/CarmenSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'carmen-sans-lg';
    src: url('../fonts/CarmenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'carmen-sans-regular';
    src: url('../fonts/CarmenSans-Regular.ttf') format('truetype');
}

.header{
    height: 20vh;
    max-height: 150px;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 0 65px;    
    /* height: 100px; */
    position: fixed;
    top: 0;
    z-index: 100;
    transition: transform 0.4s ease-in-out;
}

.header.down {
  transform: translateY(-100%);
}

.header.up {
  transform: translateY(0);
}
.inicioLink{        
    width: 25%;
}

.headerLg{
    width: 400px;
    height: auto;
    min-width: 200px;

}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.link{
    text-decoration: none;
    font-family: 'carmen-sans-regular', sans-serif;
    color: #ffffff;
    font-size: clamp(1rem , 1.2vw, 1.5vw);/* Mínimo de , ideal de , máximo de  */
}
.activeLink{
    color: #E2D0C7;
    text-decoration: none;
    font-family: 'carmen-sans-regular', sans-serif;
    font-size: clamp(1rem , 1.2vw, 1.5vw);/* Mínimo de , ideal de , máximo de  */
    text-decoration: underline;
}
.nav button {
    font-family: 'carmen-sans-regular', sans-serif;
    background: none;
    border: none;
    color: #ffffff;
    font-size:clamp(1rem , 1.2vw, 1.5vw);
    cursor: pointer;
}

nav a:hover{
    color: #E2D0C7;
}

nav button:hover{
    color: #E2D0C7;
}

.iconMenuBurguer{
    display: none;
}
.iconMenuBurguerBars{
    color: #ffffff;
}
.iconMenuBurguerX{
    z-index: 1;
    color: #ffffff;
}
.linkInicio {
    display: none;
    text-decoration: none;
    font-family: 'carmen-sans-regular', sans-serif;
    color: #ffffff;
    font-size: clamp(1rem , 1.2vw, 1.5vw);/* Mínimo de , ideal de , máximo de  */
}

.activeLinkInicio{
    color: #E2D0C7;
    font-size: clamp(1rem , 1.2vw, 1.5vw);/* Mínimo de , ideal de , máximo de  */
    text-decoration: underline;
}

.transparentBgNonVisible{
    display: none;
}

.closeAndIcono{
    width: 90%;
    display: flex;
    align-items: center;    
    justify-content: space-between;

}
.closeIcon {
    color: white;
    cursor: pointer;
    z-index: 20;
}
.iconoEmpresa {
    width: 20%;  /* Ajusta según el tamaño deseado */
    min-width: 50px;
    height: auto;
}

@media (max-width: 1024px){
    .linkInicio{
        display: block;
        font-size: clamp(1.5rem, 2rem, 4rem);
        width: 100%;
    }
    .activeLinkInicio{
        font-size: clamp(1.5rem, 2rem, 4rem);/* Mínimo de , ideal de , máximo de  */
        width: 100%;
    }

    .iconMenuBurguer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .header{
        align-items: center;    
        padding: 0 10% 0 25px;    
    }

    .headerLg{
        width: 400px;
    }


    .nav {
        display: none;
    }

    .navOpen{
        right: 0;
        top: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 50px;
        color: #ffffff;
        background-color: #8ecae6;                
        width: 50%; 
        min-width: 200px;
        height: 200vh;   
        border-radius: 10px 0 0 0;
        z-index: 10;
    }

    .transparentBg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1000vh;
        background-color: rgba(0, 0, 0, 0.651);
        z-index: 5;
    }
    
    
    .link{
        font-size: clamp(1.5rem, 2rem, 4rem);
        width: 100%;
    }

    .activeLink{
        font-size: clamp(2rem, 2.5vw, 4rem);/* Mínimo de , ideal de , máximo de  */
        width: 100%;

    }

    .navOpen button{
        font-family: 'carmen-sans-regular', sans-serif;
        background: none;
        border: none;
        color: #ffffff;
        font-size: clamp(1.5rem, 2rem, 4rem);
        cursor: pointer;    
    }
    
    .linkContainer{
        width: 30%;
        min-width: 200px;
        text-align: center;
        background-color: var(--light-color);
    }
    .navOpen :nth-child(3){
        border: 1px;
        border-style: solid none solid none;
        border-color: #c5e9fa;
    }
    .navOpen :nth-child(4){
        border: 1px;    
        border-style: none none solid none;
        border-color: #c5e9fa;
    }
    /* para que no se muestre la hamburguesa al estar en el menu  */


}

@media (max-width: 594px){  
    .header{
        padding: 0 10% 0 15px;    
        height: 100px;
    }
    .headerLg{
        width: 250px;
    }
    .link{
        font-size: 25px;
        padding: 5px 0 5px 0;
    }
    .activeLink{
        font-size: 25px;
        
    }
    .linkInicio{
        padding: 5px 0 5px 0;
        font-size: 25px;
    }
    .navOpen button{
        font-size: 25px; 
        padding: 5px 0 5px 0;
    }
    .iconMenuBurguerBars{
        width: 30px;
    }
    .closeIcon{
        width: 30px;
    }
    .navOpen{
        padding: 30px;
        width: 100%;
    }
}
