@import url('../../variables.css');

@font-face {
    font-family: 'carmen-sans-md';
    src: url('../public/fonts/CarmenSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'carmen-sans-lg';
    src: url('../public/fonts/CarmenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'carmen-sans-regular';
    src: url('../public/fonts/CarmenSans-Regular.ttf') format('truetype');
}

.header{
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 30px 10% 0 65px;    
    /* height: 100px; */
    position: sticky;
}
.inicioLink{        
    width: 25%;
}

.headerLg{
    width: 400px;
    height: auto;
    min-width: 200px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.link{
    text-decoration: none;
    font-family: 'carmen-sans-regular', sans-serif;
    color: #ffffff;
    font-size: clamp(1rem , 1.2vw, 1.5vw);/* Mínimo de , ideal de , máximo de  */
}
.activeLink{
    color: #E2D0C7;
    text-decoration: none;
    font-family: 'carmen-sans-regular', sans-serif;
    font-size: clamp(1rem , 1.2vw, 1.5vw);/* Mínimo de , ideal de , máximo de  */
    text-decoration: underline;
}
.nav button {
    font-family: 'carmen-sans-regular', sans-serif;
    background: none;
    border: none;
    color: #ffffff;
    font-size:clamp(1rem , 1.2vw, 1.5vw);
    cursor: pointer;
}

nav a:hover{
    color: #E2D0C7;
}

nav button:hover{
    color: #E2D0C7;
}

.iconMenuBurguer{
    display: none;
}
.iconMenuBurguerBars{
    color: #ffffff;
}
.iconMenuBurguerX{
    z-index: 1;
    color: #ffffff;
}
.linkInicio {
    display: none;
    text-decoration: none;
    font-family: 'carmen-sans-regular', sans-serif;
    color: #ffffff;
    font-size: clamp(1rem , 1.2vw, 1.5vw);/* Mínimo de , ideal de , máximo de  */
}

.activeLinkInicio{
    color: #E2D0C7;
    text-decoration: none;
    font-family: 'carmen-sans-regular', sans-serif;
    font-size: clamp(1rem , 1.2vw, 1.5vw);/* Mínimo de , ideal de , máximo de  */
    text-decoration: underline;
}

@media (max-width: 1024px){
    .linkInicio{
        display: block;
        font-size: clamp(1.5rem, 2rem, 4rem);
        width: 100%;
    }
    .activeLinkInicio{
        font-size: clamp(1.5rem, 2rem, 4rem);/* Mínimo de , ideal de , máximo de  */
        width: 100%;
    }

    .iconMenuBurguer{
        display: flex;
        height: 100%;
    }

    .header{
        align-items: center;
        padding: 30px 10% 0 25px;    
    }

    .headerLg{
        width: 400px;
    }


    .nav {
        display: none;
    }

    .navOpen{
        right: 0;
        position: absolute;
        top: 150px;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 50px;
        justify-content: center;
        color: #ffffff;
        background-color: #8ecae6f8;
        width: 100%;
        min-width: 200px;
        height: 300px;
        border-radius: 10px;
    }

    .navOpen .link{
        font-size: clamp(1.5rem, 2rem, 4rem);
        width: 100%;
    }

    .navOpen .activeLink{
        font-size: clamp(2rem, 2.5vw, 4rem);/* Mínimo de , ideal de , máximo de  */
        width: 100%;

    }

    .navOpen button{
        font-family: 'carmen-sans-regular', sans-serif;
        background: none;
        border: none;
        color: #ffffff;
        font-size: clamp(1.5rem, 2rem, 4rem);
        cursor: pointer;    
    }
    
    .linkContainer{
        width: 30%;
        min-width: 200px;
        text-align: center;
        background-color: var(--light-color);
    }
    .navOpen :nth-child(2){
        border: 1px;
        border-style: solid none solid none;
        border-color: #c5e9fa;
    }
    .navOpen :nth-child(3){
        border: 1px;
        border-style: none none solid none;
        border-color: #c5e9fa;
    }
    /* para que no se muestre la hamburguesa al estar en el menu  */


}

@media (max-width: 470px){
    .headerLg{
        width: 250px;
    }
    .navOpen{
        top: 120px;
    }
}