@import url('../../variables.css');

@font-face {
    font-family: 'carmen-sans-md';
    src: url('../fonts/CarmenSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'carmen-sans-lg';
    src: url('../fonts/CarmenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'carmen-sans-regular';
    src: url('../fonts/CarmenSans-Regular.ttf') format('truetype');
}



.footer {
    background-color: #0b3c91;
    color: white;
    border-radius: 100px 100px 0 0;
    padding: 20px 100px 20px 100px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
  .contact {
    flex: 1;
    max-width: 300px;
  }
  
  .contact h3 {
    font-size: clamp(16px, 1.5vw,2vw);
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: 'carmen-sans-regular', sans-serif;

  }
  
  .socialIcons {
    display: flex;
    gap: 15px;
    margin-bottom: 1rem;
  }
  
  .icon {
    font-size: 1.8rem;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .icon:hover {
    transform: scale(1.2);
    color: #b6b6b6;
  }
  
  .email {
    font-size: clamp(12px, 1vw, 1.1vw);
    margin-bottom: 0.5rem;
    font-family: 'carmen-sans-lg', sans-serif;
  }
  
  .mobilePhone {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 0.9rem;
    font-family: 'carmen-sans-regular', sans-serif;
  }

  .phone{
    display: flex;
    font-family: 'carmen-sans-regular', sans-serif;
    flex-direction: row;
    gap: 5px;
    font-size: 0.9rem;
  }

  .iconPhone {
    margin-right: 8px;
  }
  
  .links {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    gap: 4rem;
  }
  
  .links h4 {
    font-size: clamp(13px, 1.1vw, 1.5vw);
    font-weight: bold;
    margin-bottom: 0.8rem;
    font-family: 'carmen-sans-regular', sans-serif;
  }
  
  .links ul {
    list-style: none;
    padding: 0;
  }
  
  .links li {
    font-size: clamp(11px, 0.8vw, 1vw);
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: color 0.2s;
    font-family: 'carmen-sans-lg', sans-serif;
  }
  
  .links li:hover {
    color: #b6b6b6;
  }
  
  .logo img{
    width: 15vw;
    min-width: 120px;
  }

  
@media (min-width : 768px) and (max-width : 1024px) {
    .footer{
      padding: 20px 50px 20px 50px;
    }
}

@media (max-width : 767px) {
  .footer{
      border-top-left-radius: 70px;
      border-top-right-radius: 70px;
      padding: 20px 20px 20px 20px;
  }
  .links{
    display: none;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  .contact h3 {
  font-size: clamp(13px, 2.5vw, 2.8vw);
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: 'carmen-sans-regular', sans-serif;

  }
  
  .socialIcons {
    display: flex;
    gap: 15px;
    margin-bottom: 1rem;
  }
  
  .icon {
    font-size: 1.5rem;
    cursor: pointer;
  }

  
  .email {
    font-size: clamp(10px, 1.8vw, 2vw);
  }
  
  .mobilePhone {
    font-size: 0.7rem;
  }

  .phone{
    font-size: 0.7rem;
  }

}