@import url('../../variables.css');

@font-face {
    font-family: 'carmen-sans-md';
    src: url('../public/fonts/CarmenSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'carmen-sans-lg';
    src: url('../public/fonts/CarmenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'carmen-sans-regular';
    src: url('../public/fonts/CarmenSans-Regular.ttf') format('truetype');
}

.experienceContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.experienceTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    gap: 6px;
}

.experienceTitle h3{
    display: inline-block;
    color: var(--primary-color);
    font-family: 'carmen-sans-regular', sans-serif;
    font-size: clamp(12px, 3.8vw, 50px);
}
.experienceTitle img {
    padding-top: 1%;
    width: clamp(80px, 20vw, 250px); 
    vertical-align:top;
}

.aniosContainer, .studentsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.aniosContainer p, .studentsContainer p{
    color: var(--primary-color);
    font-family: 'carmen-sans-regular', sans-serif;
    font-size: clamp(15px, 3vw, 50px);
}


@media (max-width: 766px){
    .aniosContainer, .studentsContainer{
        gap: 10px;
    }

    .experienceContainer{
        gap: 20px;
    }
    
    
}